.home-brands{
    background-color: #1e1f27 ;
    padding: 50px 0;
    .home-brands-content{
        .home-brand-title{
            color: #fff;
            font-size: 40px;
            line-height: 45px;
            margin-bottom: 50px;
            // margin-top: 50px;
        }
        .swiper-slide{
            background: none;
            opacity: 1;
            img{
                border: none;
            }
        }
        .brands-slider-inner{
            background: #111219;
            border: 2px solid  #585858;
            border-radius: 5px;
            width: 170px;
            height: 180px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 5px;
            cursor: pointer;
            img{
                width: 80px;
                height: 60px;
                object-fit: contain;
            }
            .brand-card-title{
                color: #7e7e7e;
                font-size: 20px;
                font-weight: 600;
            }
            &:hover{
                background: linear-gradient(161.55deg, hsla(0, 0%, 100%, .294) -9.06%, #11121997 39.4%, #111219);
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .home-brands{
        .home-brands-content{
            .home-brand-title{
                font-size: 25px;
            }
        }
    }
}

@media only screen and (max-width: 650px) {
    .home-brands{
        .home-brands-content{
            .home-brand-title{
                font-size: 20px;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .home-brands{
        .home-brands-content{
            .home-brand-title{
                font-size: 18px;
            }
        }
    }
}