.muscle {
  padding: 50px 0;
  background-color: #272933;
}

@media only screen and (max-width: 1050px) {
  .muscle{
    .budget-title{
      font-size: 25px;
    }
    .budget-link{
      font-size: 15px;
    }
    .budget-bottom{
      margin-top: 0;
    }
  }
}

@media only screen and (max-width: 750px) {
  .muscle{
    .budget-title{
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 588px) {
  .muscle{
    .budget-link{
      font-size: 11px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .muscle{
    .budget-title{
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 420px) {
  .muscle{
    .budget-title{
      font-size: 16px;
    }
  }
}
