.convertable {
  padding: 50px 0;
  background-color: #272933;
}

@media only screen and (max-width: 1050px) {
  .convertable {
    .budget-title {
      font-size: 25px;
    }
    .budget-link {
      font-size: 15px;
    }
    .budget-bottom {
      margin-top: 0;
    }
  }
}

@media only screen and (max-width: 750px) {
  .convertable {
    .budget-title {
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 588px) {
  .convertable {
    .budget-link {
      font-size: 11px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .convertable {
    .budget-title {
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 420px) {
  .convertable {
    .budget-title {
      font-size: 16px;
    }
  }
}
